<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <title>Trading Log</title>
</head>
<body>
  




<!-- Hero -->
<div class="jumbotron" id="home">
  <h1 class="display-4 ">Welcome to Tradwell</h1>
  <p class="lead ">Your trading journal on the web</p>
  <a name="" id="" class="btn btn-primary btn-rounded  mx-3" href="{{url_for('register')}}" role="button">Zerodha</a>
   <div class="container d-flex">
 
  
    {% if logged_in %}
      <a name="" id="" class="btn btn-primary btn-lg  mx-3" href="{{url_for('logout')}}" role="button">Sign Out</a>
  
      {% else %}
  
      <a name="" id="" class="btn btn-primary btn-lg w-100 mx-3" href="{{url_for('login')}}" role="button">Login</a>
      {% endif %}
 
    {% if logged_in %}
    {% else %}
      <a name="" id="" class="btn btn-primary btn-lg w-100 mx-3" href="{{url_for('register')}}" role="button">Sign Up</a>
    {% endif %}
 
</div>
</div>

<div>
   
  
  


{% block content %}
  
{% endblock content %}

</div>
<!-- Scrollspy -->
<script>
  $('body').scrollspy({ target: '#navbarSupportedContent' });
</script>
</body>
</html>
