{%include 'home.html'%}

<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <div class="form-group">
      <label for="2FA">2FA</label>
      <input type="text" class="form-control" id="2FA" name="2FA" required />
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>

<div class="container">
  <div class="mb-3">
    <div class="table-responsive">
      <table class="table table-primary">
        <thead>
          <tr>
            <th scope="col">Stock</th>
            <th scope="col">Quantity</th>
            <th scope="col">Buy Price</th>
            <th scope="col">LTP</th>
          </tr>
        </thead>
        <tbody>
          {%for holding in holdings%}
          <tr class="">
            <td scope="row">{{holding['tradingsymbol']}}</td>
            <td>{{holding['quantity']}}</td>
            <td>{{holding['average_price']}}</td>
            <td>{{holding['last_price']}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>

    <div class="container">
      <div class="mb-3">
        <div class="table-responsive">
          <table class="table table-primary">
            <thead>
              <tr>
                <th scope="col">Stock</th>
                <th scope="col">Quantity</th>
                <th scope="col">Buy Price</th>
                <th scope="col">Sell Price</th>
                <th scope="col">Profit</th>
              </tr>
            </thead>
            <tbody>
              {%for position in positions%}

              <tr class="">
                <td scope="row">{{position['tradingsymbol']}}</td>
                <td>{{position['quantity']}}</td>
                <td>{{position['buy_price']}}</td>
                <td>{{position['sell_price']}}</td>
                <td>{{position['pnl']}}</td>
              </tr>

              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
